# Core functionality - changes here should be rare!
/src/app.py                   @natanrabeloair
/src/backend/database.py      @natanrabeloair
/src/backend/routers/auth.py  @natanrabeloair

# The frontend will need refactored soon to be more object oriented.
/src/static/   @natanrabeloair
